<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MediaPickerActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="true" />
        <activity
            android:name=".crop.main.CropActivity"
            android:exported="true" />

    </application>

</manifest>